* {
	box-sizing: border-box;
	font-family: 'Droid Serif', monospace;
}

body {
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-size: 1.5rem;
}

img {
	max-width: 250px;
}

.container {
	width: 50%;
	margin: 175px auto 0;
	/*border: 3px solid white;*/
	/*background: #45c7f9;*/
}

.button {
	display: flex;
	justify-content: center;
}

.button button {
	background: #45c7f9;
	margin-top: 100px;
	color: white;
	border: 3px solid white;
	height: 50px;
	width: 100px;
	font-family: 'Droid Serif', monospace;

}
.title {
	display: flex; 
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.title p {
	margin: 0;
}

.title h1 {
	letter-spacing: .75rem;
	font-size: 2.5rem;
	color: #008289;	/* match green font */
}

.choice {
	font-size: 20px;
}

.choice:hover {
	font-size: 2.5rem;
}

#timer {
	display: flex;
	justify-content: center;
	visibility: hidden;
}

#question {
	display: flex;
	justify-content: center;
	visibility: hidden;

}

#answers {
	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
}

#timeRemaining {
	margin-left: 5px;
}
#restart,
.stats {
	visibility: hidden;
}